*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    margin: 0px 260px;
}

.logo{
    padding: .5em 1em;
    vertical-align: bottom;
}

h1{
    display: inline-block;
    font-size: 40px;
}

.container{
    width: 1069.6px;
    height: 600px;
    border-color: rgb(203, 235, 235);
    border-style: solid;
    border-width: 30px 180px ;
}

.btn_task{
    background-color: rgb(24, 130, 243);
    border-radius: 10%;
    border: 0;
    padding: .5em 1em;
    color: white;
    margin: 20px 5px 15px 50px;
}

.btn_section{
    border-radius: 10%;
    border-color: grey;
    padding: .4em .8em;
    color: rgb(208, 200, 200);
    background-color: white;
    margin: 20px 0px 15px 0px;
}

hr{
    color:rgba(152, 195, 240, 0.67) ;
}

.lista{
    margin-left: 50px;
    padding-left: 15px ;
   list-style-type: circle;
}

.newtask, .today, .upcoming{
    font-size: 20px;
    font-weight: bold;
    margin-left: 50px;
    padding: 30px 0px 5px 0px ;
}

li{
    padding-top: 10px;
}

.editorial, .q1, .recruiting, .mobile, .website, .sales{
    border-radius: 20%;
    border: 0;
    text-align: center;
    padding: .2em;
}

.editorial{
    background-color: rgb(205, 27, 131);
    color: white;
}
.q1{
    background-color: blue;
    color: white;
}
.recruiting{
    background-color: rgb(62, 150, 35);
    color: white;
}
.mobile{
    background-color: rgb(202, 233, 24);
    color: white;
}
.website{
    background-color: rgb(152, 44, 44);
    color: white;
}
.sales{
    background-color: rgb(120, 96, 79);
    color: white;
}